<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Thời Trang</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>

<body>
    <section id="header">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="dropdown">
                    <a href="{% url 'shop' %}" class="dropbtn">Shop</a>
                    <div class="dropdown-content">
                        {% for category in categories %}
                        <a href="{% url 'category' pk=category.pk %}">{{ category.category_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
                <li><a href="{% url 'user' %}">{{request.user}}</a></li>
                <li id="lg-bag"><a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" style="background-image: url('{% static 'images/about/banner.png' %}');">
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur!</p>
    </section>

    <section id="content">
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <script>
            // Lấy modal
            var modal = document.getElementById("myModal");

            // Lấy phần tử <span> đóng modal
            var span = document.getElementsByClassName("close")[0];

            // Khi người dùng bấm nút <span> (x), đóng modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // Khi người dùng bấm bất kỳ đâu ngoài modal, đóng modal
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Hiển thị modal khi có messages
            {% if messages %}
            document.addEventListener('DOMContentLoaded', function () {
                modal.style.display = "block";
            });
            {% endif %}
        </script>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">{{ quantity_total }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for products_info in products_info %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ products_info.product_name }}</h6>
                            <small class="text-muted">Size: {{ products_info.product_size }} -- Quantity: {{ products_info.cart_quantity}}</small>
                        </div>
                        <span class="text-muted">${{ products_info.product_price }}</span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>${{ cart_total }}</strong>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
        
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
        
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
        
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Plaza street" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="phonenumber" class="form-label">Phone Number <span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Enter your phone number">
                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">Description <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                        </div>
                    </div>

                    <hr class="my-4">
        
                    <button class="w-100 btn btn-danger btn-lg" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1"
        style="background-image: url('{% static 'images/banner/b14.jpg' %}');">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong>1 Võ Văn Ngân, Phường Linh Chiểu, TP Thủ Đức, TP Hồ Chí Minh.</p>
            <p><strong>Phone: </strong>(+84 - 028) 38968641 - (+84 -028) 38961333 - (+84 -028) 37221223</p>
            <p><strong>Fax: </strong>(+84 - 028) 38964922</p>
            <p><strong>E-mail: </strong>ptchc@hcmute.edu.vn</p>
            <p><strong>Hours: </strong>07:00 - 21:30, Mon - Sun</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{% static 'images/pay/app.jpg' %}" alt="">
                <img src="{% static 'images/pay/play.jpg' %}" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="{% static 'images/pay/pay.png' %}" alt="">
        </div>
        <div class="copyright">
            <p>Copyright © 2013, Trường Đại Học Sư Phạm Kỹ Thuật - Tp.HCM</p>
        </div>
    </footer>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>